extends layout
block main-content
    div(class="main-content")
        form(id='userCreation' method='POST' action="/createUser" onsubmit="return checkCreation()" class='form')
            section(class="form-elements")
                p(class="form-title") Create an Account
                //- p Id:&nbsp;
                //-     input(type='text' id='IdCreation' name="userId")
                p Username:&nbsp;
                    input(type='text' id='usernameCreation' name="username" maxlength="15")
                p Password:&nbsp;
                    input(type='text' id='passwordCreation' name="password")
                p E-mail:&nbsp;
                    input(type='email' id='emailCreation' name="email")
                p
                    input(type='submit' id="btn" value='Create Account')    
                p Already have an account?&nbsp;
                    a(href="/signin") Sign In!
    script(src="/backend.js")
