extends layout
block main-content
    section(class="homepage")
        div(class="sidebar")
        div(class="mainarea")
            div(class="content")
                h1(class="page-title") Welcome back #{username}
                div(class="online-friends")
                    h2(class="friends-title") Online Friends
                    div(class="friends-container")
