html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
    body
        nav(class="nav")
            each text, link in nav
                a(class="nav-link" href=text) #{link}
        section(class="main-content")
            block main-content