extends layout
block main-content
    form(id='userCreation' method='POST' action="/signIn" onsubmit="return checkLogin()" class='form')
        section(class='form-elements')
            p(class="form-title") Sign In
            p Email:&nbsp;
                input(type='text' id='emailLogin' name="email")
            p Password:&nbsp;
                input(type='text' id='passwordLogin' name="password")
            p
                input(type='submit' id='btn' value='Sign In') 
            p Dont have an account?&nbsp;
                a(href="createuser") Register Now!   
    script(src="/backend.js")
