html
    body
        div(class="content")
            form(id='update' method='POST' enctype='multipart/form-data' action="/updateUser/"+account.id onsubmit="return checkUpdate()" class='form')
                p Username:&nbsp;
                    input(type='text' id='usernameUpdate' name="username" value=account.name maxlength="15")
                p Password:&nbsp;
                    input(type='text' id='passwordUpdate' name="password")
                p E-mail:&nbsp;
                    input(type='email' id='emailUpdate' name="email" value=account.email)
                p Icon:&nbsp;
                    input(type='file' id='iconUpdate' name='icon' value=account.icon accept="image/*")
                if account.theme == "dark"
                    p Dark Theme:&nbsp;
                        input(type='radio' id='themeDark' name='theme' value='dark' checked)
                    p Light Theme:&nbsp;
                        input(type='radio' id='themeLight' name='theme' value='light')
                else
                    p Dark Theme:&nbsp;
                        input(type='radio' id='themeDark' name='theme' value='dark')
                    p Light Theme:&nbsp;
                        input(type='radio' id='themeLight' name='theme' value='light' checked)
                if account.status == "online"
                    p Online:&nbsp;
                        input(type='radio' id='statusOnline' name='status' value='online' checked)
                    p Idle:&nbsp;
                        input(type='radio' id='statusIdle' name='status' value='idle')
                    p Busy:&nbsp;
                        input(type='radio' id='statusBusy' name='status' value='busy')
                else if account.status == "idle"
                    p Online:&nbsp;
                        input(type='radio' id='statusOnline' name='status' value='online')
                    p Idle:&nbsp;
                        input(type='radio' id='statusIdle' name='status' value='idle' checked)
                    p Busy:&nbsp;
                        input(type='radio' id='statusBusy' name='status' value='busy')
                else
                    p Online:&nbsp;
                        input(type='radio' id='statusOnline' name='status' value='online')
                    p Idle:&nbsp;
                        input(type='radio' id='statusIdle' name='status' value='idle')
                    p Busy:&nbsp;
                        input(type='radio' id='statusBusy' name='status' value='busy' checked)
                p
                    input(type='submit' class='btn' value='Update Account')    
        script(src="/backend.js")