/** 
Color Pallette 
Background: #676767
Sidebar: #A2A2A2
Popout: #3D3D3D
Text: #EFEFEF
**/

html,
body {
    background-color: #676767;
}

.sidebar {
    background-color: #a2a2a2;
}

.nav {
    background-color: #3d3d3d;
}

.nav-link {
    color: #efefef;
}

.nav-link:hover {
    background-color: #a2a2a2;
}

.nav-link:active {
    background-color: #676767;
    border: 2px solid #3d3d3d;
}

.title {
    color: #efefef;
}

.sub-title {
    color: #efefef;
}

.form {
    color: #000;
}

.form-elements {
    background-color: #a2a2a2;
}

.form input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
}

.form input:focus {
    background-color: #676767;
    color: #efefef;
}

#btn {
    border: 1px solid #efefef;
    background-color: #efefef;
    color: #3d3d3d;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 3vh;
    background-color: #3d3d3d;
    max-height: 5vh;
}

.nav-link {
    color: #efefef;
    text-decoration: none;
    padding: 1vh 0;
    width: 100%;
    text-align: center;
}

.nav-link:hover {
    background-color: #a2a2a2;
}

.nav-link:active {
    background-color: #676767;
    border: 2px solid #3d3d3d;
}

.title-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 2vh 0
}

.main-logo {
    height: 5vh;
    width: auto;
    float: left;
    padding: 0;
}

.title {
    color: #efefef;
    font-size: 15vh;
    margin: 0;
}

.sub-title {
    color: #efefef;
    margin-top: .5vh;
    font-style: italic;
    font-size: 4vh;
    margin: 0;
}

.form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    color: #000;
}

.form-title {
    margin-top: .5vh;
    font-style: italic;
    font-size: 4vh;
    margin: 0;
}

.form-elements {
    display: flex;
    flex-flow: column;
    width: 50%;
    background-color: #a2a2a2;
    height: 75%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    border-radius: 15px;
}

.form input {
    margin-top: 1vh;
    border: none;
    border-bottom: 1px solid #3d3d3d;
    background-color: transparent;
}

.form input:focus {
    background-color: #676767;
    color: #efefef;
}

#btn {
    border: 1px solid #000;
    background-color: #000;
    color: #efefef;
    padding: 5px;
    border-radius: 10px;
}

.chatpage {
    color: #efefef;
}

.channel-area {
    background-color: #676767;
}

.chat-area {
    background-color: #3d3d3d;
}

.msg-section::-webkit-scrollbar-thumb {
    background: #676767;
    border: 2px solid #3d3d3d;
}

.homepage {
    color: #efefef;
}

.mainarea {
    background-color: #676767;
}

.content {
    background-color: #3d3d3d;
}

.friends-container {
    border-top: 1px solid #676767;
}

.friends-container::-webkit-scrollbar-thumb {
    background: #676767;
    border: 2px solid #3d3d3d;
}

.friend-image-container {
    border: .5px solid #efefef;
    background-color: #676767;
}

.servers::-webkit-scrollbar-thumb {
    background: #676767;
    border: 2px solid #3d3d3d;
}
.server {
    background-color: #676767;
}
#makeServerBack {
    background-color: rgba(103,103,103, 0.8)
}

.server-listing {
    border: 1px solid #efefef;
}

.join-server {
    color: #efefef;
    background-color: #3d3d3d;
    border: 1px solid #efefef;
}
.join-server:hover {
    background-color: #676767;
}
.join-server:active {
    background-color: #a2a2a2;
}
.message {
    border: 1px solid #787878;
}
.msg-top {
    border: 1px solid #787878;
}
.filter-form .filter-input {
    border-bottom: 1px solid #efefef;
    color:#efefef;
}
.filter-form .filter-input::placeholder {
    color: rgba(250, 250, 250, 0.7);
}