html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html,
body::-webkit-scrollbar {
    display: hidden;
}

.sidebar {
    display: flex;
    flex-flow: column;
    grid-area: sidebar;
    height: 100%;
    width: 100%;
    align-items: center;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 3vh;
    max-height: 5vh;
}

.nav-link {
    text-decoration: none;
    padding: 1vh 0;
    width: 100%;
    text-align: center;
}

.nav> :first-child {
    padding: 0;
    width: auto;
}

.title-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 2vh 0
}

.main-logo {
    height: 5vh;
    width: auto;
    float: left;
    padding: 0;
}

.main-logo:hover {
    cursor: pointer;
}

.title {
    font-size: 15vh;
    margin: 0;
}

.sub-title {
    margin-top: .5vh;
    font-style: italic;
    font-size: 4vh;
    margin: 0;
}

.form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-title {
    margin-top: .5vh;
    font-style: italic;
    font-size: 4vh;
    margin: 0;
    text-align: center;
}

.form-elements {
    display: flex;
    flex-flow: column;
    width: 50%;
    height: 75%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    border-radius: 15px;
}

.form input {
    margin-top: 1vh;
}

#btn {
    padding: 5px;
    border-radius: 10px;
}

.chatpage {
    display: grid;
    grid-template-columns: 100px 10fr 90fr;
    grid-template-areas: "sidebar channels main-area";
    height: 95vh;
}

.channel-area {
    grid-area: channels;
    min-width: 150px;
    position: relative;
}

.chat-area {
    display: grid;
    grid-template-rows: 95fr 5fr;
    grid-template-areas: "chat""msg-box";
    grid-area: main-area;
    max-height: 95vh;
}

.input-section {
    position: sticky;
    display: flex;
    width: 100%;
    grid-area: msg-box;
    flex-flow: row;
    justify-content: stretch;
}

.msg-input {
    flex-grow: 8;
    font-size: 14pt;
}

.msg-button {
    flex-grow: 1;
}

.msg-section {
    overflow-y: scroll;
    word-wrap: break-word;
    max-height: 95vh;
}

.msg-section::-webkit-scrollbar {
    width: 10px;
    margin-right: 1px;
}

.msg-section::-webkit-scrollbar-thumb {
    border-radius: 50px;
}

.homepage {
    display: grid;
    grid-template-columns: 100px 95fr;
    grid-template-areas: "sidebar main-area";
}

.mainarea {
    display: flex;
    grid-area: main-area;
    height: 100%;
    justify-content: center;
    justify-items: center;
    width: 100%;
    overflow: auto;
}

.username {
    font-style: italic;
}

.content,
.online-friends {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "title""content";
    height: 100%;
    width: 100%;
}

.page-title {
    font-size: 5vmin;
    grid-area: title;
    text-align: center;
}

.online-friends {
    grid-area: content;
    overflow: auto;
}

.friends-container {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
    grid-area: content;
}

.friends-container::-webkit-scrollbar {
    width: 10px;
    margin-right: 1px;
}

.friends-container::-webkit-scrollbar-thumb {
    border-radius: 50px;
}

.friends-title {
    font-size: 3vmin;
    grid-area: title;
    text-align: center;
}

.friend {
    display: flex;
    flex-flow: row;
    margin: 0 1vw;
}

.friend-image-container {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    overflow: hidden;
}

.friend-image-container img {
    max-width: 110%;
    max-height: 110%;
}

.servers {
    display: flex;
    flex-flow: column;
    height: 85vh;
    width: 100%;
    align-items: center;
    overflow-y: scroll;
}

.servers::-webkit-scrollbar {
    width: 10px;
    margin-right: 1px;
}

.servers::-webkit-scrollbar-thumb {
    border-radius: 50px;
}

.server {
    width: 75%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    margin-top: 10px;
    height: 67.5px;
    width: 67.5px;
}

#addServer {
    order: 0;
}

.server:hover {
    border-radius: 25%;
}

.server-icon {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}

#makeServer {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    width: 50%;
    height: 50%;
}

#makeServer .form .form-elements {
    width: 100%;
    height: 100%;
}

#makeServer .form .form-elements * {
    margin-top: 2vh;
}

#makeServerBack {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

#copy-invite-code {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.server-listing {
    margin: 2vh 2vw;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
}

.join-server {
    text-decoration: none;
    padding: 5px;
}

.server-image {
    max-height: 15vh;
    width: auto;
}

.filter-form {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}

.filter-form .filter-input {
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0 2vw;
}

.message {
    display: flex;
    flex-flow: column;
    margin: 1vh 2vw;
}

.msg-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.msg-icon {
    max-height: 50px;
    width: auto;
    width: auto;
    margin-right: 2vw;
}

.message-text {
    min-height: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    word-wrap: break-word;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    word-break: break-all;
}