/** 
Color Pallette 
Background: #DCDCDC
Sidebar: #E8E8E8
Popout: #EFEFEF
Text: #000
**/
html,body {
    background-color: #dcdcdc;
}
.sidebar {
    background-color: #e8e8e8;
}
.nav {
    background-color:#efefef;
}
.nav-link {
    color: #efefef;
}
.nav-link:hover {
    background-color: #e8e8e8;
}
.nav-link:active {
    background-color: #dcdcdc;
    border: 2px solid #efefef;
}
.title {
    color: #efefef;
}
.sub-title {
    color: #efefef;
}
.form {
    color: #000;
}
.form-elements {
    background-color:#e8e8e8;
}
.form input {
    border-bottom: 1px solid #efefef;
}
.form input:focus {
    background-color: #dcdcdc;
    color: #efefef;
}
#btn {
    border: 1px solid #000;
    background-color: #000;
    color: #efefef;
}

.chatpage {
    color: #000;
}
.channel-area {
    background-color:#dcdcdc;
}
.chat-area {
    background-color:#efefef;
}
.msg-section::-webkit-scrollbar-thumb {
    background: #dcdcdc;
    border: 2px solid #efefef;
}

.homepage {
    color: #000;
}
.mainarea {
    background-color:#dcdcdc;
}
.content {
    background-color: #efefef;
}
.friends-container {
    border-top: 1px solid #DCDCDC;
}
.friends-container::-webkit-scrollbar-thumb {
    background: #dcdcdc;
    border: 2px solid #efefef;
}
.friend-image-container {
    border: .5px solid #000;
    background-color: #dcdcdc;
}
